.box {
    margin-top: 30px;
}

ul{
	/*横向排列*/
	float:left;
}

li{
	background-color: seagreen;
	width: 150px;
	height: 200px;
	/*去除圆点*/
	list-style: none;
}

ul :hover{
	/*向上偏移*/
	top: -8px;
	/*阴影*/
	box-shadow: 0 15px 30px rgb(0 0 0 /10%);
}